version: "2"

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:3.2.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
    - 2181:2181
    logging:
      driver: none

  kafka:
    image: confluentinc/cp-enterprise-kafka:3.2.0
    ports:
    - 9092:9092
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: plaintext://kafka:9092
      KAFKA_JMX_HOSTNAME: kafka
      KAFKA_JMX_PORT: 9010
      KAFKA_METRIC_REPORTERS: io.confluent.metrics.reporter.ConfluentMetricsReporter
      CONFLUENT_METRICS_REPORTER_BOOTSTRAP_SERVERS: kafka:9092
      CONFLUENT_METRICS_REPORTER_ZOOKEEPER_CONNECT: zookeeper:2181
      CONFLUENT_METRICS_REPORTER_PUBLISH_MS: 1000
      CONFLUENT_METRICS_REPORTER_TOPIC_REPLICAS: 1
    depends_on: [zookeeper]

  rest:
    image: confluentinc/cp-kafka-rest:3.2.0
    ports:
    - 8082:8082
    environment:
      KAFKA_REST_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_REST_LISTENERS: "http://0.0.0.0:8082"
      KAFKA_REST_HOST_NAME: "rest"
      KAFKA_REST_JMX_HOSTNAME: rest
      KAFKA_REST_JMX_PORT: 9010
    depends_on: [zookeeper, kafka]
  
  schema-registry:
    image: confluentinc/cp-schema-registry:3.2.0
    ports:
    - 8081:8081
    environment:
      SCHEMA_REGISTRY_KAFKASTORE_CONNECTION_URL: zookeeper:9092
      SCHEMA_REGISTRY_HOST_NAME: "schema"
      SCHEMA_REGISTRY_LISTENERS: http://0.0.0.0:8081
      SCHEMA_REGISTRY_KAFKASTORE_TOPIC: _schemas
      #SCHEMA_REGISTRY_DEBUG: 0
    depends_on: [zookeeper, kafka]

  control-center:
    image: confluentinc/cp-enterprise-control-center:3.2.0
    ports:
    - 9021:9021
    environment:
      CONTROL_CENTER_ZOOKEEPER_CONNECT: zookeeper:2181
      CONTROL_CENTER_BOOTSTRAP_SERVERS: kafka:9092
      CONTROL_CENTER_REPLICATION_FACTOR: 1
    depends_on: [zookeeper, kafka]

